@tailwind base;
@tailwind components;
@tailwind utilities;
/* tat cac the */
@import "~react-image-gallery/styles/scss/image-gallery.scss";

* {
  //box-sizing: inherit;
  font-family: "Roboto","Helvetica","Arial",sans-serif;;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-size: 16px;
  background-color: #f5f5f5;
}

html{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box ;
}

.text-black{
  color: black;
}

.text-white{
  color: white;
}

img{
  display: block;
  max-width: 100%;
}


a {
  text-decoration: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

//  .btn{
//   min-width: 124px;
//   height: 34px;
//   text-decoration: none;
//   border: none;
//   border-radius: 2px;
//   font-size: 1.5rem;
//   padding: 0px 12px;
//   outline: none;
//   cursor: pointer;
//   color: var(--text-color); 
//   background-color: var(--white-color);
//   display: inline-flex;
//   align-items: center;
//   justify-content: center;
//   line-height: 1.6rem;
// } 
