/* tat cac the */
*{
  box-sizing: inherit;
}

html{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box ;
}

.text-black{
  color: black;
}

.text-white{
  color: white;
}

/* .btn{
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0px 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color); 
  background-color: var(--white-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
} */
