.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.card {
    margin: auto;
    background-color: rgb(48, 105, 170);
}

.form-group-login{
    margin: 50px;
}

.form-login-item{
    margin: 10px 0  10px 0;
}

.header-login{
    margin-left: 15px;
}