.prod-name{
    display: flex;
    gap: 15px;
    align-items: center;
    .prod-img-preview{
        img{
            height: 50px;
            width: 100%;
            object-fit: cover;
        }
    }
                      
}
.header-table{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .title-table{
        font-size: 18px;
        font-weight: 500;
    }
    .btn-add-prod{
        border: none;
        padding: 10px 8px;
        border-radius: 2px;
        background-color: rgb(17, 182, 17);
        color: #ffffff;
        font-size: 15px;
        cursor: pointer;

        &:hover{
            background-color: rgb(7, 135, 7);
        }
       
    }
}
