/* .filter-nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
   } */
   
.button_fillter {
    padding: 0px 10px 0px 10px;
    border: none; 
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 120px;
}
   
.button_fillter:hover {
    background-color: #0056b3;
}

   